@import "active-theme.rasi"

/* 
  bg - background
  fg - foreground
  br - border
*/

* {
  main-bg:        @crust;
  main-fg:        @text;
  main-br:        @overlay2;
  input-bg:       @mantle;
  select-bg:      @overlay2;
  select-fg:      @crust;
}
